:root {
	--primary-yellow: hsl(47, 88%, 63%);
	--secondary-white: hsl(0, 0%, 100%);
	--secondary-gray: hsl(0, 0%, 50%);
	--secondary-black: hsl(0, 0%, 7%);
}

@font-face {
	font-family: "FigTree";
	src: url("assets/fonts/Figtree-VariableFont_wght.ttf"),
		url("assets/fonts/Figtree-Italic-VariableFont_wght.ttf");
}

* {
	margin: auto;
	box-sizing: border-box;
	font-family: "FigTree", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 700;
}

body {
	width: 100vw;
	background-color: var(--primary-yellow);
}

.blog-preview-container {
	margin: 10em auto 1em;
	background-color: var(--secondary-white);
	padding: 1.2em;
	width: 90%;
	border-radius: 20px;
	border: 1px solid var(--secondary-black);

	min-width: 325px;
	max-width: 384px;
	box-shadow: 10px 10px var(--secondary-black);
}

.blog-click-link {
	text-decoration: none;
}

.blog-click-link:visited h1,
.blog-click-link:visited h2 {
	color: var(--secondary-black);
}

.blog-click-link > .blog-preview-container:hover,
.blog-click-link:focus > .blog-preview-container {
	box-shadow: 15px 15px var(--secondary-black);
	border: 1px solid black;
}
.blog-click-link:focus {
	outline: none;
}

.blog-image-container {
	border: none;
}

.blog-image-container img {
	width: 100%;
	border-radius: 20px;
}

.dates-and-tags {
	margin: 0.6em 0;
}

.date,
.tags {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.tags {
	border: none;
	border-radius: 5px;
	background-color: var(--primary-yellow);
	padding: 0.4em 1em;
	display: inline-block;
}

.tags p {
	font-size: 0.8em;
	font-weight: 800;
	color: var(--secondary-black);
}

.date p {
	color: var(--secondary-black);
	font-size: 0.8em;
	font-weight: 600;
}

.text-container h1 {
	color: var(--secondary-black);
	margin-top: 0.8em;
	font-weight: 800;
	font-size: 1.3em;
}

.text-container p {
	margin-top: 0.5em;
	padding: 0.5em 0;
	color: var(--secondary-gray);
	font-weight: 500;
	font-size: 0.9em;
	line-height: 1.5em;
}

.user-container {
	font-size: 0.5em;
	font-weight: 800;
	display: flex;
	justify-content: start;
	align-items: center;
	margin-top: 1em;
}
.user-avatar,
.user-container h2 {
	margin: 0 1em 0 0;
	padding: auto;
	color: var(--secondary-black);
}
.user-avatar img {
	width: 4em;
}

.blog-click-link > .blog-preview-container:hover h1,
.blog-click-link:focus > .blog-preview-container h1 {
	color: var(--primary-yellow);
}

.blog-click-link > .blog-preview-container:active p:nth-child(1),
.blog-click-link:visited > .blog-preview-container p:nth-child(1),
.blog-click-link > .blog-preview-container:active h2 {
	color: var(--secondary-black);
}

.blog-click-link > .blog-preview-container:active p:nth-child(3) {
	color: var(--secondary-gray);
}

@media (min-width: 400px) {
	.blog-preview-container {
		margin-top: 13em;
	}
}
